section.orders {
    max-width: 900px;
    margin: auto;

    form {
        display: inline;
    }

    #order-list {
        margin: 20px;

        table {
            border: 1px solid gray;
            width: 100%;

            thead {
                tr {
                    font-weight: bold;
                    border-bottom: gray;
                    background: $gray-500;
                }
            }

            tbody {
                tr:nth-child(even) {
                    background: $gray-100;
                }

                tr:nth-child(odd) {
                    background: $gray-300;
                }

                tr {
                    td {
                        button.action-delete {
                            background: none!important;
                            border: none;
                            padding: 0!important;
                            font-family: arial, sans-serif;
                            color: #069;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    #order-filter {
        border: 2px solid gray;
        margin: 20px;
        padding: 10px 20px;

        form {
            margin: auto;

            table {
                width: 100%;
            }
        }

    }

    #order-form {
        border: 2px solid gray;
        margin: 20px;
        padding: 10px 20px;

        table {
            width: 100%;

            tbody {
                tr {
                    th {
                        padding: auto 20px;
                        min-width: 200px;
                    }
                }
            }
        }
    }
}
